
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
}

img{
    width:170px;
    cursor: pointer;
    margin-right: auto;
}

li,a,button{

    font-weight:600;
    font-size: 14px;
    color:#fff;
    text-decoration: none;
    line-height: 150%;
}

.header{
    display: flex;
    background:radial-gradient(100% 501.4% at 0% 100%,#ffb141 0%,#fb8d17 100%);
    justify-content:flex-end;
    align-items:center;
    padding:0px 10%;
    position: fixed;
    width:100%;
}

.list{
    list-style: none;
    margin-right: 60px;
}

.list li {
    display: inline-block;
    padding:0px 20px
}

.icon i{
    border:1px solid #fff;
    padding:10px;
    border-radius:100%;
    color:#fff;
    text-align: center;
    margin-left: 10px;
}