.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 110px 0 160px;
  &__content {
    width: 50%;
    padding-right: 150px;
    &__desc {
      font-weight: 300;
      margin-bottom: 40px;
      line-height: 1.4;
      color:#a5b2c3;
    }
  }
  &__image {
    width: 50%;
  }
}
