.work {
  padding-top: 145px;
}
.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8.5rem;
  &__caption {
    text-transform: uppercase;
    margin-bottom: 4rem;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: $primary-color;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      left: 0;
      transform: translateX(-100%);
    }
    &::after {
      left: 100%;
    }
  }
  &__heading {
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.4;
    & span {
      display: block;
    }
  }
}

// .list{
//     display: flex;
//     justify-content: space-between;
//     align-items: stretch;
//     &__item{
//         width:calc(33.33% - 46.67px);
//     }
// }
.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 70px;
  &__item {
    border: 1px solid #f4f4f4;
    padding: 40px 30px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover{
        border-color:transparent;
        box-shadow: 0 0 20px 10px rgba(black, 0.05);
        .btn__work{
            background-color: $primary-color;
            border-color: $primary-color;
            color:#f4f4f4
        }
    }
    &__image {
      margin-bottom: 3.5rem;
      max-height: 115px;
    }
    &__title {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 3rem;
    }
    &__desc {
      font-weight: 300;
      margin-bottom: 35px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
      max-width: 100%;
    }
  }
}
.btn__work{
    transition: all 0.2s ease-in-out;
}
