@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;600;700&display=swap");
$gray-dark : #272e35;
$primary-color: #579aff;
html {
  font-size: 62.5%; // 1rem = 10px
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 1.6rem;
}
.wrapper{
    max-width: 1440px;
    margin:0 auto;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
// btn
.btn{
    display:inline-block;
    border:0;
    font-size: 16px;
    color:$gray-dark;
    padding: 2rem 4.5rem;
    border-radius: 15px;
    outline:none;
    cursor: pointer;
    background-color: transparent;
    &__primary{
        color:white;
        background-color: $primary-color;
    }
    &__border{
        border:1px solid #a5b2c3;
        color:#a5b2c3;
    }
}



@import "banner"; 
@import "header";
@import "work";
@import "intro";
@import "plan";
@import "client";